workspace:
  name: {{project_name}}
  adopted_at: {{date}}
  git_topology: {{git_topology}}
  ddd_required: {{ddd_required}}
adopt:
  stage: scaffold
  skip_codegraph: false
xijia_base_ref: {{xijia_base_ref}}
discovery:
  scanner: scan_workspace.py
  report: docs/.generated/adopt-discovery.json
modules: []
commands: {}
